/* Anton Schwarz */

#gameDiv {
  margin: auto;
  width: 1000px; /* TODO once game window is resizeable, change this */
  height: 600px;
}

.startDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*background-color: lightpink;*/
  padding: 0.2em;
  justify-content: space-between;
}

.startDiv > div {
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
}

.right {
  text-align: right;
  justify-content: flex-end;
}

.belowtitle {
  /* background-color: lightgreen; */
}

.b {
  font-weight: bold;
}

form {
  margin: 0 !important;
  padding: 0 !important;
}

.uibuttons {
  display: flex;
}

#formForPasswordChange {
  display: none;
}