/* Anton Schwarz */

#gameDiv {
        margin: auto;
        width: 1000px; /* TODO once game window is resizeable, change this */
        height: 600px;
}

.startDiv {
        display: flex;
}

.buttonFloat {
        float: right;
        /* display: flex; */
}

.splitsleft {
        width: 40%;
}

.rightStart {
      text-align: right;
      width: 60%;
}